body {
  background-color: #212121;
  color: #fff;
}

.container {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.parent {
  /* height: 35%; */
  /* width: 15%; */
  min-height: 300px;
  min-width: 250px;
  max-height: 35%;
  max-width: 15%;
  background-color: white;
  color: #000;
  margin: 10px 50px;
  border-radius: 20px;
  /* border: 1px solid #645959; */
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.top {
  display: flex;
  flex-direction: column;
}
.top1 {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.top1 img {
  border: 1px solid #dadada;
  border-radius: 50%;
  padding: 5px;
  height: 2.6rem;
  animation: spin 8s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.top1 button {
  display: flex;
  gap: 5px;
  height: 2em;
  padding: 1em;
  align-items: center;
  border-radius: 0.4rem;
  font-size: small;
  color: #635d5d;
  border: 0.8px solid #dadada;
  cursor: pointer;
  transition: transform 0.2s ease;
  /* position: absolute; */
}

.save-btn:hover {
  transform: scale(1.01);
}
.save-icon {
  height: 18px;
}
.top2 {
  display: flex;
  flex-direction: column;
  margin-top: 1.8em;
}

.companyTag {
  display: flex;
  align-items: flex-start;
  gap: 5px;
}
.companyTag h3 {
  font-weight: 300;
}
.companyTag span {
  font-weight: 100;
  font-size: small;
  color: #645959;
}

.tags {
  display: flex;
  gap: 10px;
  color: #635d5d;
  margin-top: 1.2em;
}

.tags span {
  border: 1px solid #635d5d;
  padding: 2px 5px;
  border-radius: 10px;
  background-color: #fffcfc;
  font-size: small;
}

.bottom {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.bleft p {
  color: #635d5d;
  font-weight: 100;
}

.bright button {
  padding: 4px 8px;
  background-color: #212121;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}
/* button { */
/* transition: transform 0.1s ease; */
/* } */

button:active {
  transform: scale(0.95);
}
